* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 700px;
    height: 150px;
    background-color: antiquewhite;
    margin: auto;
}

.leftBox,
.rightBox {
    margin: calc((150px - 115px)/2);
    background-color: burlywood;
}

.leftBox {
    width: 115px;
    height: 115px;
    float: left;
}


.rightBox {
    width: 225px;
    height: 60px;
    float: right;

    margin-top: calc((150px - 115px)/2 + 55px);
}

.leftBox li {
    float: right;
}

.rightBox li {
    float: left;
}
.container li {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    background-color:cornflowerblue;
    border-radius: 50%;
    border: 1px solid;
    margin: 5px;
}

.leftBox li:nth-child(2n) {
    margin-right: 0;
}

.leftBox li:nth-child(n + 3) {
    margin-top: 0;
}

.rightBox li:nth-child(-n + 3) {
    margin-right: 0;
}