* {
    margin: 0;
    padding: 0;
}

.outer {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    border: solid 1px;
}

.inner {
    background-color: silver;
    width: 300px;
    height: 300px;
    margin: 100px auto;

}

.inner div {
    background-color: aqua;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;

    /* 
        < fixed 요소의 컨테이닝 블럭 >

    1) 위치에 대한 컨테이닝 블럭
    
    - 옵셋이 설정되지 않은 경우 : 무조건 가장 가까운 부모요소가 컨테이닝 블럭으로
                                  기준이 되어 배치.

    - 옵셋이 설정된 경우 : 옵셋이 설정되지 않은 상태에서의 최초 디스플레이 위치를
                           기준으로 뷰포트가 컨테이닝 블럭이 되어 배치.

       ※ 위치에 대한 컨테이닝 블럭은 스크롤바가 생성되지 않은 상태에서의 뷰포트
          영역이 기준이 되므로, 스크롤바가 생성시에는 그 위치가 변경되거나 화면상에
          보이지 않을 수 있음에 주의.

    2) 크기에 대한 컨테이닝 블럭

    - 옵셋 설정 여부와 관련없이 무조건 스크롤바를 제외한 뷰포트 영역이 컨테이닝
      블럭으로 인정되어 결정.

    */
    position: fixed;
}

.child1 {
    /* top:0; */
}

.child2 {
    /* right: 0; */
}

.child3 {
    /* left: 0; */
}

/* ================================================================================ */

.child4 {
    bottom:0;
}

.child5 {
    right: 0;
}

.child6 {
    left: 0;
}

/* 
    fixed 요소의 크기는 무조건 스크롤바를 제외한
    뷰포트 전체 크기를 기준으로 결정.
*/
/* .box2 div div {
    width: 10%;
    height: 10%;
} */